*{
    padding: 10px;
}
.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}
.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
    /* margin-top: 15px; */

}
.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
    vertical-align: top;
    /* margin-left: 15px; */
}
.main {
    height: 400px;
    width: 700px;
    background-color: red;
    display: inline-block;
    vertical-align: top;
    /* margin-bottom: 15px; */
    /* padding-left: 15px; */
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin-top: 15px;
}
